.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box img {
  width: 100%;
  height: auto;
}

.box {
  /* padding: 130px; */
  margin: 30px;
  /* border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear; */

}

.products-heading {
  text-align: center;
}

/* .price-tag {
  display: flex;
  justify-content: space-between;
} */

.title {
  margin-bottom: 0;
}

.price {
  margin: 0;
}